<main>
  <form 
    action="" 
    method="POST"
    autocapitalize="off" 
    autocomplete="off"
    accept-charset="UTF-8"
    name="login-form"
    id="login-form"
    >
    <h1>Login</h1>
    <fieldset
      name="cpf-form"
      form="login-form"
      >
      <input 
        type="text"
        mozactionhint="next"
        autocapitalize="none"
        autocomplete="on"
        autocorrect="on"
        form="login-form"
        inputmode="verbatim"
        name="cpf"
        placeholder="Enter your CPF"
      >
    </fieldset>
    <fieldset
      name="password-form"
      form="login-form"
      class="fieldset-password"
      >
      <input 
        type="password"
        mozactionhint="send"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
        form="login-form"
        inputmode="verbatim"
        name="password"
        placeholder="Password"
      >
      <p id="forgot-password">Forgot your password?</p>
    </fieldset>
    <fieldset
      name="buttons-form"
      form="login-form"
      id="enter-button"
      >
      <button
        type="submit"
        name="enter"
        form="login-form"
        formmethod="POST"
        >
        Enter
      </button>
      <p>Register</p>
    </fieldset>
  </form>
</main>