<main>
  <form
    action=""
    method="POST"
    autocapitalize="off"
    autocomplete="off"
    accept-charset="UTF-8"
    name="login-form"
    id="login-form"
    >
    <h1>Login</h1>
    <bank-inputs-login
      fieldset_name="cpf-form"
      type="text"
      autocapitalize="on"
      autocomplete="on"
      name="cpf"
      placeholder="Enter your CPF"
      >
    </bank-inputs-login>
    <bank-inputs-login
      fieldset_name="password-form"
      type="password"
      autocapitalize="off"
      autocomplete="off"
      name="password"
      placeholder="Password"
      >
    </bank-inputs-login>
    <fieldset
      name="buttons-form"
      form="login-form"
      id="enter-button"
      >
      <button
        type="submit"
        name="enter"
        form="login-form"
        formmethod="POST"
        >
        Enter
      </button>
      <p>Register</p>
    </fieldset>
  </form>
</main>
