// fonts
$font-size: 16px;
$font-weight: 500;
$font-family: 'Open Sans', sans-serif;

// colors
$white: #ffffff;
$dark-mode-gray: #e0e0e0;
$dark-mode-blue: #6ce5e8;
$dark-mode-blue-alt: #409f9d;
$dark-mode-blue-alt-transparency: #409f9da4;